<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>hola mundo bimba</h1>

<div>
    <button>Ver</button>
    <button>Agregar</button>
</div>

<div>
    <form action="#" th:action="@{/api/products}" method="post" th:object="${product}">
        <input type="text" placeholder="Name" th:value="*{name}">
        <input type="number" placeholder="Price" th:value="*{price}">
        <input type="number" placeholder="Existence" th:value="*{stock}">
        <button type="submit">Guardar</button>
    </form>
</div>
</body>
</html>